.todoList {
    style: "width:100%"; 
    width: 50%;
    margin: auto;  
    margin-top: 8%; 
    border: 2px solid grey;
    border-radius: 3px; 
}

.todoListBody {
    padding: 10px;
}

.listContainer {
    width: 100%; 
    margin-bottom: 30px; 
    margin-right: auto; 
    margin-left: auto; 
}

.todoListHeader {
    height: 40px; 
    background-color:  #4CAF50EE; 
    /* border-bottom: 2px solid grey;  */
}

.todo-list-header {
    display: flex; 
    flex-direction: row; 
}

/************ ADD TODO BAR **************/ 

.add-todo-input { 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;  
}

.add-todo-button {
    /** width: 100%; **/
    margin: 8px 0px 8px 10px;
    background-color: #4CAF50;
    color: white;
    padding: 11px 20px;
    border: none;
    border-radius: 2px;
    font-size: 1.2em; 
    cursor: pointer;
  }  

/********** TODO LIST FOOTER **************/ 

.todo-footer {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
}

.filter-todo-button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    border-radius: 2px; 
    padding: 15px;
    font-size: 14px;
    width: 100%; 
    background-color: #666666; 
    color: #FFFFFF; 
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
}

/* Color for the active button */ 
.active-button {
    background-color: #4CAF50EE; 
}



/************ HANDLE SCREEN CHANGES ***********/ 

@media screen and (max-width: 497px) {
    .todo-footer{
        flex-direction: column; 
        justify-content: center; 
    }
    .filter-todo-button{
        margin-bottom: 10px; 
        width: 100%; 
    }
}

@media screen and (max-width: 625px){
    .todo-list-header {
        flex-direction: column; 
        align-items:center;  
    }
    .add-todo-button {
        width: 100%; 
        margin: 8px 0px 8px 0px; 
    }
}

