:root {
    --header-height: 40px; 
    --border-radius: 2px; 
    --todo-list-margin-btw: 10px; 
}

.todolist-component {
    width: 100%; 
    height: 100%; 
    /* width: calc(100% - 4px); */
    /* height: calc(100% - 4px);  */
    /* margin-right: 10px; */ 
    border: 1px solid rgba(0, 0, 0, 0.405); 
    /* border: var(--border-radius) solid rgba(128, 128, 128, 0.748);  */
    border-radius: 3px; 
    /* background-color: #FFFFFF;  */
}

.todolist-header {
    height: var(--header-height); 
    background-color:  #4CAF50CA; 

    color: #FFFFFF; 
    font-size: 1.5em; 
    font-weight: 400; 
    text-align: center;
    /* vertical-align: middle; */
    line-height: 40px;       /* the same as your div height */
}

.todolist-body {
    padding-left: 10px; 
    padding-right: 10px;
    height: calc(100% - var(--header-height)); 
    display: flex; 
    flex-direction: column; 
    position: relative; 
}

/************ ADD TODO BAR **************/ 

.todolist-add-todo {
    height: 15%; 
    min-height: 50px; 
    display: flex; 
    flex-direction: row; 
}

.add-todo-input { 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;  
}

.add-todo-button {
    /** width: 100%; **/
    margin: 8px 0px 8px 10px;
    background-color: #4CAF50CA;
    color: white;
    padding: 11px 20px;
    border: none;
    border-radius: 2px;
    font-size: 1.2em; 
    cursor: pointer;
  }  

/********* TODOLIST BODY  *****************/ 

.todolist-list {
    height: 70%; 
    overflow-y: scroll    
}

::-webkit-scrollbar { 
    display: none; 
}


.todo-item {
    height: 2em; 
    background: white; 
    border: 1px solid #ccc;
    margin-bottom: 1px; 
    border-radius: 2px; 
    font-family: "Roboto", sans-serif;
    line-height: 2em; /* match line-height to height so that it's centered */ 
    padding-left: 10px; /** indent the text by 10px **/ 
}

.fa-trash { 
    float: right; 
}

/********** TODO LIST FOOTER **************/ 

.todo-footer {
    /* height: 15%;  */
    width: 100%; 

    display: flex; 
    flex-direction: row; 
    justify-content: center;
    margin: auto; 
    margin-bottom: 10px; 
    /* margin-top: 0px;  */
    /* flex: 1; */  
    /* flex-grow: 1; */
    /* flex-basis: 0;   */
    /* Move footer to bottom of component */ 
    position: relative;
    bottom: 0;
}

.filter-todo-button {
    height: 50px;
    padding: 15px;
    width: 100%; 
    margin-bottom: 10px; 
    flex-basis: 0;  


    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    /* border-radius: 2px;  */
    font-size: 14px;
    background-color: #666666; 
    color: #FFFFFF; 

    /* what do these transitions do? */ 
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
}

/* color for the active button */ 
.active-button {
    background-color: #4CAF50EE
}

/************ HANDLE SCREEN CHANGES ***********/ 
@media screen and (max-width: 497px) {
    .todo-footer{
        flex-direction: column; 
        justify-content: center; 
    }
    .filter-todo-button{
        margin-bottom: 10px; 
        width: 100%; 
    }
}

@media screen and (max-width: 625px){
    .todolist-add-todo {
        flex-direction: column; 
        align-items:center;  
    }
    .add-todo-button {
        width: 100%; 
        margin: 8px 0px 8px 0px; 
    }
}