ul {
    list-style-type: none;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #292929;
}

/* #505050; */

li {
    float: left;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;    
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
}

/* visited link */
 a:visited {
    color: white; 
    text-decoration: none;
}


.activeNavLink {
    background-color: #4CAF50;
    color: white; 
    text-decoration: none;
}
