@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.my_table_wrapper {
    width: 100%;
    height: 500px;
}

.my_table {
    width: 60%;
    max-width: 600px; 
    height: 50%;
    min-height: 100%; 
    margin: auto;
    display: flex;
    flex-direction: column;

    padding: 0 0 0;
    /* margin: auto; */ 
    margin-right: auto; 
    margin-left: auto;  
    margin-bottom: 5px; 
    overflow: auto;     
} 

@media screen and (max-width: 600px) {
    .my_table{
        width: 90%;
    }
}


.row-input {
    border-radius: 2px; 
}

/* User form css */ 
.add-user-form {
    width: 100%; 
}
  
.add-user-firstname {
    align-content: left; 
}
  
.add-user-lastname {
    width: 50%; 
    padding: 2px; 
    align-content: right; 
}
  
.add-user-age {
    width: 50%; 
    padding: 2px; 
}
  
.addUserButton {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;

    margin-top: 20px; 
    margin-bottom: 20px; 
    margin:0 auto;
    display:block;

    border-radius: 4px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.name-row {
    display: flex; 
    flex-direction: row; 
}

.first-name {
    width: 100%; 
}

.last-name {
    width: 100%; 
}

@media screen and (max-width: 450px){
    .name-row{
        flex-direction: column; 
    }
    .first-name {
        width: 100%; 
    }
    .last-name {
        width: 100%; 
    }
} 

.first-name {
    margin-right: 10px; 
}

.actual_table {
    border: solid lightgrey 1px; 
    margin-bottom: 2.0em; 
    border-radius: 5px;     
}

.actual_table tr:nth-child(even) {
    background-color: #F0F0F0;
}

.actual_table tr:hover {
    background-color: #909090; 
}