.journal-container {
    height: 300px; 
    width: 300px;
    /* border: 2px solid grey;  */
    border: 1px solid rgba(0, 0, 0, 0.405);     
    border-radius: 3px; 
}

.journal-component {
    height: 100%; 
    width: 100%; 
    /* margin: auto;   */
    /* border: 2px solid grey; */
    /* border-radius: 3px;  */

    /* background-color: green;  */
    /* background-color: azure;  */
    /* position: relative;  */
    position: relative;

    /* display: flex; 
    flex-direction: column;
    flex-basis: 0; */
}

/* .journal-header {
    margin: 10px; 
    overflow: hidden;
    /* color: #4CAF50EE; */
/*} */

.journal-header {
    height: 40px; 
    background-color:  #4CAF50CC; 
    margin-bottom: 15px; 
    color:  #FFFFFF; 
    font-size: 1.5em; 
    font-weight: 400; 
    text-align: center;
    vertical-align: middle;
    line-height: 40px;       /* the same as your div height */
}  


.textarea-container {
    /* min-height: 200px;   */
    /* min-width: 300px;  */
    height: calc(80% - 40px); /* percentage minus header height and button height */  
    width: calc(100% - 10px); 
    margin: 5px;
}

    .journal-text-area {
        height: 98%; 
        width: 100%; 
        border-radius: 3px; 
        margin-right: 0px;
        overflow: hidden; 
        resize: none; 
    }

.save-journal-button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #4CAF50EE;
  
    position: absolute;
    bottom: 0;
  
    /* Supported in most modern browsers */ 
    width: calc(100% - 10px);
    /* margin: 5px;  */
    /* margin-top: 50px;    */
  
    border: 0; 
    border-radius: 2px; 
  
    /** to give the button some height **/ 
    padding: 10px;
    margin: 5px; 
    
    color: #FFFFFF; /** text color of button **/ 
    font-size: 14px;
  }
  