/* Remove unnecessary margins/padding */
html, body { height:100%; min-height:100%; margin: 0; padding: 0;}
#root { height: 100%; min-height: 100%; padding: 0px; margin: 0px; }

.wrapper {
  display: flex; 
  flex-direction: column; 
  height: 100%; 
  min-height: 100%; 
  background-color: #f3f3f3;
}

.header {
  background-color: #f8f8ff;
}

.content {
  height: 100%; 
  width: 100%; 
  display: flex; 
  flex-direction: row; 
}

.content-left {
  width: 20%; 
  background: grey; 
}

.content-right {
  width: 80%; 
  height: 100%; 

  /* General appearance */
  background-color: #f8f8ff;
  overflow-y: auto; 
  overflow-x: hidden; 
  flex-grow: 1; 

  display: flex;
  justify-content: center;
  align-items: center; 

}

.footer {
  background-color: #f8f8ff;
  text-align: center;
  font-size: .8rem;
  line-height: 1.5;
  /* padding: .5rem; */
}

/********************************************************************************/ 

.App-header {
  text-align: center;
  grid-row-start: 0;
  grid-row-end: 1;

  background-color:#505050;
  height: 50px;
  padding: 10px;
  color: white;

  margin-bottom: 5px; 
}

.App-footer {
  background-color: #505050;
  height: 100%;
  grid-row-start: 2;
  grid-row-end: 3;

  padding-top: 10px;
  color: white;

  /* margin: 5px;  */
  /* border-radius: 5px;  */
  position: relative;
  left: 0;
  bottom: 0;
  text-align: center;
}

.App-title {
  font-size: 2.0em;
}

.App-intro {
  font-size: large;
}

.topbar {
  /* border-radius: 5px 5px 0px 0px; */
  /* margin: 5px 5px 0px 5px; */
  border-radius: 0px;
  margin: 0px;
}

/*
 input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

/* input[type=submit] { */
  /** width: 100%; **/
  /* background-color: #4CAF50;
  color: white;
  padding: 11px 20px;
  border: none;
  border-radius: 3px;
  font-size: 1.2em; 
  cursor: pointer;
} */

input[type=submit]:hover {
  background-color: #45a049;
}

.material-icons {
  font-size: 36px; 
  color: #4CAF50; 
  margin-bottom: 5px; 
}

.footer-text {
  color: white; 
}
